.ion-alpha-sidebar {
  position: fixed;
  right: 0px;
  top: 50px;
  bottom: 0px;
  display: flex;
  flex-flow: column;
  z-index: 50000;
  margin: 0px;
  ion-item {
    font-size: 16px;
    color: #ffffff;
    flex: 1 1 auto;
    display: flex;
    list-style: none;
    width: 60px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .ion-alpha-sidebar {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    padding: 0px;
    ion-item {
      width: auto;
      font-size: 14px;
      color: var(--ion-color-primary);
    }
  }
}
